*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  }
   
   .container{
             width:90%;
			 margin:0 auto;
			 padding:3%;
			 border:1px;
			 }
			 
	.row{
        display:flex;
		flex-wrap:wrap;
        
        }

       .col-1{
             width:50%;
			 padding:0 15px;
	   }
			 
             }
			 
			 img{
				 width:100%;
			 }
			 
			 .icon-content{
              	display:flex;
	            justify-content:center;
	            padding:30px;
			 }
			  #li{
				font-size:25px;
				padding:5px;
				
                 }
                 h3{
	                margin-bottom:10px;
                   }
                   p{
                    font-size:20Px;
				   }
				   

			
				
			 
			 